.DS_Store
*.egg-info
__pycache__
*.o
/*.jpg
build*
dist
# /.vscode
/.vs
CMakeSettings.json

/test/*
!/test/psnr.py
!/test/reference.jpg

# unnecessary submodule in other branches
dependencies/tiny-stl